bandit==1.7.*
black==24.*
Faker==23.*
mypy==1.9.*
pytest==8.0.*
pytest-asyncio==0.23.*
pytest-cov==4.1.*
pytest-mock
python-semantic-release>=9
PyYAML==6.0.1
requests-mock
twine==5.*
wheel
sphinx
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-inline-tabs
autodoc_pydantic
furo==2024.*
