bandit==1.7.7
black==24.2.0
Faker==23.3.0
pytest==8.0.2
pytest-asyncio==0.23.5
pytest-cov==4.1.0
pytest-mock
python-semantic-release==9.1.1
PyYAML==6.0.1
twine==5.*
wheel
sphinx
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-inline-tabs
autodoc_pydantic
furo==2024.*
